/* turma.css */

body { font-family: 'Merriweather', serif; }

.nome { 
        font-size: 1.6em;
        font-weight: 700;
      }

.numero {
         font-size:1.2em;
         font-weight: 300;
        }   

/* Contentor dos <li> */ 
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} 

li { 
    width: 30%;
    margin-bottom: 60px;
    display:flex;
    align-items: center;
}

div.foto { margin-right: 32px;}

div.info { 
            display: flex;
            flex-direction: column;
        }

/*
li { 
    border-width: 1px;
    border-style: solid;
    border-color: #831D1C;
    border-color: rgb( 131, 29, 28);
} 
*/

div.foto { 
            width: 140px;
            height: 140px;
            border-radius:50%;
            overflow:hidden;

            display: flex;
            align-items: center;
         }

         /* Pontos de Quebra 
         Media Queries 
         */ 

         @media (max-width:1200px)
         {
li {width: 45%; }
}

@media ( max-width: 900px)
{
    li{ width: 90%; }
}

@media (max-width: 500px)
{
    li {flex-direction: column;}

    .numero {text-align: center;}
}

li
{
    background-image: url("outro\ campo\ 1.jpg");
    background-size: 14cm;
    background-repeat:no-repeat;
    color:white
}

h2 
{
    background-image: url("croatia-flag-round-icon-256.png");
background-repeat: no-repeat;
background-position:31cm;
background-size: contain;
font-size: 30px;

}

h3 
{
    background-image: url("portugal_glossy_round_icon_640.png");
background-repeat: no-repeat;
background-position:31cm;
background-size: contain;
font-size: 30px;
}

h4 
{
    font-size: 30px;

}

div.jogadores
{
    display: flex; justify-content: space-around;
align-items:center ;
}

#menu ul {
    padding:50px;
    margin:20px;
    float:left;
    width: 100%;
    background-color:royalblue;
    list-style:none;
    font:150% Tahoma;
}

#menu ul li { display:unset; }

#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float:left;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color:red;
    border-bottom:5px solid #EA0000;

 }

 